<!DOCTYPE html>

<html>

<head>
    <title>Todo List - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href='styles/dashboard.css'>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
    <script src="js/firebaseInit.js"></script>
</head>

<body>
    <div class="container">
        <header class="title">
            <h1>Welcome...</h1>
            <button onclick="logout()">Logout</button>
        </header>
        
        <footer class="copyright">
            &copy; Lawal Lanre (Larrystone) @ Andela bootcamp cycle 22...
        </footer>
    </div>
    <script src='js/dashboard.js'></script>
</body>

</html>