<!DOCTYPE html>

<html>

<head>
    <title>Todo List: login/Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
</head>

<body>
    <div class="container">
        <header class="title">
            <h1>ToDoo welcomes you...</h1>
        </header>
        <section class="main">
            <aside class="about">
                <h2>I can't help you achive you task but I sure can help you manage 'em...</Login>
                <h4>Please login or signup to see how I try to do that</h4>
            </aside>
            <aside class="login_signup">
                <form>
                    <input type="email" name="email" placeholder="Email address" class="form-control" id="email">

                    <input type="password" name="password" placeholder="Enter password" id="password1">
                    <input type="password" name="password" placeholder="Re-enter Password" id="password2">

                    <button type="button" id="login">Login</button>
                    <a id="account_action">Create account</a>
                    <button type="button" id="signup">Sign Up</button>
                </form>
            </aside>
        </section>
        <footer class="copyright">
            &Copy; Lawal Lanre (Larrystone) @ Andela bootcamp cycla 22...
        </footer>
    </div>
    <div 
        <div class="row text-center">
            <header class="jumbotron">

                </header>
            <div class="form-group" id="formContainer">
                

        </div>
    </div>
    </div>
    <script src='js/index.js'></script>
</body>

</html>