<!DOCTYPE html>

<html>

<head>
    <title>//Todo manager - Accounts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href='styles/login.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
    <script src="js/firebaseInit.js"></script>
</head>

<body>
        <header class="jumbotron text-center">
            <h1>//TODO manager App...</h1>
            <p>Set... Manage... Achieve...</p>
        </header>
        <div class="container">
        <div class="row">
            <aside>
                <h4 class="letter">Dear Friend, <br/>I'm sorry I can't help you achieve your tasks but I sure can help you manage 'em.<br/>I hope that counts for something...<br/>Yours sincerely,<br/>//TODO</h4>
            </aside>
            <aside>
                <form>
                    <input class="form-control" type="email" name="email" placeholder="Email address" class="form-control" id="email" required>

                    <input class="form-control" type="password" name="password" placeholder="Enter password" id="password1" required>
                    <input class="form-control" type="password" name="password" placeholder="Re-enter Password" id="password2" required>

                    <button class="btn btn-info" type="button" id="login" onclick="logIn()">Login</button>
                    <a id="account_action" onclick="hideShow()">Create account</a>
                    <button class="btn btn-info" type="button" id="signup" onclick="signUp()">Sign Up</button>
                    <br/>
                    <button class="btn btn-info" type="button" id="signupgoogle" id = "google" onclick="loginGoogle()">Google Login</button>
                </form>
            </aside>
            
        </section>
        </div>
        <div class="clear"></div>
        <p class="error"></p> 
    <script src='js/index.js'></script>
</body>

</html>