body{
    height: 100vh;
}

.jumbotron {
    box-shadow: 5px 5px 5px black;
}

.form-control {
    margin-bottom: 2em;
    border:2px solid blue;
}

#signupgoogle {
    margin-top: 2em;
}

.about {
    float: left;
    width: 50%;
    min-height: 80%;
}

.letter {
    text-align: center;
    font-family: 'Sofia';
    font-size: 22px;
}


#signup {
    visibility: hidden;
}

#signupgoogle {

}

#password2 {
    display: none;
}

.p {
    color: red;
}

#google {
    width: 80%;
}